<footer class="site-footer">
  <div class="wrap">
    <h2 id="footer-nav"class="sr-only">Secondary navigation</h2>

    <nav role="navigation" aria-labelledby="footer-nav">
      <ul>
        <li>
          <a href="/blog">Articles</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <p class="copyright">
      <span>
      ©{{meta.copyrightYear}}
        {{site.author.name}}. All rights reserved.
      </span>

    </p>
  </div>
</footer>
