{# Visit https://app.convertkit.com/landing_pages/{{ID}}/edit to the signup form #}
{% set newsletters = {
  default: '2c4aeb3311'
} %}

{% set id = newsletters[newsletter] %}

{%- if id %}
  <div class="convertkit">
    <script defer data-uid="{{id}}" src="https://zellwk-com.ck.page/{{id}}/index.js"></script>
  </div>
{%- endif %}

{% if id === '2c4aeb3311' %}
  <div class="longform error" style="margin-top: 1rem">
    {%- markdown %}
    **NOTE:** You're using a sample Converkit ID from Zell's account!

    Please change the `newsletter` yaml entry your own Convertkit form ID. You don't want your people to come into my email list (and I don't want it either) 😉.

    See `src/_includes/convertkit.njk` for more details
  {%- endmarkdown %}
  </div>
{% endif %}

{% if not id %}
  <div class="longform error" style="margin-top: 1rem">
    {%- markdown %}
      **Invalid Newsletter ID**. Make sure you entered the correct newsletter ID. See `src/_includes/convertkit.njk` for more details.
    {%- endmarkdown %}
  </div>
{%- endif %}
