// Resets "Pine" from Convertkit
.convertkit {
  font-size: calc(1rem / 1.2);
  margin-top: 3rem;
  border-top: 0.5rem solid var(--primary-500);
  border-radius: 0.375rem;
  padding: 2rem;
  background-color: var(--neutral-050);
}

.convertkit h1 {
  @extend h2;
}

.convertkit p {
  max-width: 29rem;
  margin-top: 1rem;
}

// Assuming no images
.formkit-column + .formkit-column {
  margin-top: 1rem;
}

.convertkit .formkit-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 29rem;
}

.convertkit button {
  @extend button[data-style="primary"];
  justify-self: start;
}

.convertkit .formkit-guarantee,
.convertkit .formkit-powered-by {
  font-size: calc(1rem / 1.2 / 1.2);
}

.convertkit .formkit-alert-error:empty {
  display: none;
}

.convertkit .formkit-alert-error {
  @extend .error;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
}
