.highlight {
  display: inline-block;
  background-position: 0 0.5em;
  background-size: 100% 0.75em;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, var(--primary-100), #fff);
}
