// Pink
:root {
  --primary-050: #ffe3ec;
  --primary-100: #ffb8d2;
  --primary-200: #ff8cba;
  --primary-300: #f364a2;
  --primary-400: #e8368f;
  --primary-500: #da127d;
  --primary-600: #bc0a6f;
  --primary-700: #a30664;
  --primary-800: #870557;
  --primary-900: #620042;

  --neutral-050: #f5f7fa;
  --neutral-100: #e4e7eb;
  --neutral-200: #cbd2d9;
  --neutral-300: #9aa5b1;
  --neutral-400: #7b8794;
  --neutral-500: #616e7c;
  --neutral-600: #52606d;
  --neutral-700: #3e4c59;
  --neutral-800: #323f4b;
  --neutral-900: #1f2933;
}
