// Purple theme
:root {
  --primary-050: #e6e6ff;
  --primary-100: #c4c6ff;
  --primary-200: #a2a5fc;
  --primary-300: #8888fc;
  --primary-400: #7069fa;
  --primary-500: #5d55fa;
  --primary-600: #4d3df7;
  --primary-700: #3525e6;
  --primary-800: #1d0ebe;
  --primary-900: #0c008c;

  --neutral-050: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;
}
