// Teal theme
:root {
  --primary-050: #effcf6;
  --primary-100: #c6f7e2;
  --primary-200: #8eedc7;
  --primary-300: #65d6ad;
  --primary-400: #3ebd93;
  --primary-500: #27ab83;
  --primary-600: #199473;
  --primary-700: #147d64;
  --primary-800: #0c6b58;
  --primary-900: #014d40;

  --neutral-050: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;
}
