// Red theme
:root {
  --primary-050: #ffeeee;
  --primary-100: #facdcd;
  --primary-200: #f29b9b;
  --primary-300: #e66a6a;
  --primary-400: #d64545;
  --primary-500: #ba2525;
  --primary-600: #a61b1b;
  --primary-700: #911111;
  --primary-800: #780a0a;
  --primary-900: #610404;

  --neutral-050: #faf9f7;
  --neutral-100: #e8e6e1;
  --neutral-200: #d3cec4;
  --neutral-300: #b8b2a7;
  --neutral-400: #a39e93;
  --neutral-500: #857f72;
  --neutral-600: #625d52;
  --neutral-700: #504a40;
  --neutral-800: #423d33;
  --neutral-900: #27241d;
}
