// Light Blue Vivid
:root {
  --primary-050: #e3f8ff;
  --primary-100: #b3ecff;
  --primary-200: #81defd;
  --primary-300: #5ed0fa;
  --primary-400: #40c3f7;
  --primary-500: #2bb0ed;
  --primary-600: #1992d4;
  --primary-700: #127fbf;
  --primary-800: #0b69a3;
  --primary-900: #035388;

  // Neutrals
  --neutral-050: #f5f7fa;
  --neutral-100: #e4e7eb;
  --neutral-200: #cbd2d9;
  --neutral-300: #9aa5b1;
  --neutral-400: #7b8794;
  --neutral-500: #616e7c;
  --neutral-600: #52606d;
  --neutral-700: #3e4c59;
  --neutral-800: #323f4b;
  --neutral-900: #1f2933;
}
