// Cool purple theme
:root {
  --primary-050: #eae2f8;
  --primary-100: #cfbcf2;
  --primary-200: #a081d9;
  --primary-300: #8662c7;
  --primary-400: #724bb7;
  --primary-500: #653cad;
  --primary-600: #51279b;
  --primary-700: #421987;
  --primary-800: #34126f;
  --primary-900: #240754;

  --neutral-050: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;
}
