// Warm cyan theme
:root {
  --primary-050: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  --neutral-050: #faf9f7;
  --neutral-100: #e8e6e1;
  --neutral-200: #d3cec4;
  --neutral-300: #b8b2a7;
  --neutral-400: #a39e93;
  --neutral-500: #857f72;
  --neutral-600: #625d52;
  --neutral-700: #504a40;
  --neutral-800: #423d33;
  --neutral-900: #27241d;
}
