// Blue Gray theme
:root {
  --primary-050: #f0f4f8;
  --primary-100: #d9e2ec;
  --primary-200: #bcccdc;
  --primary-300: #9fb3c8;
  --primary-400: #829ab1;
  --primary-500: #627d98;
  --primary-600: #486581;
  --primary-700: #334e68;
  --primary-800: #243b53;
  --primary-900: #102a43;

  --neutral-050: #e3f8ff;
  --neutral-100: #b3ecff;
  --neutral-200: #81defd;
  --neutral-300: #5ed0fa;
  --neutral-400: #40c3f7;
  --neutral-500: #2bb0ed;
  --neutral-600: #1992d4;
  --neutral-700: #127fbf;
  --neutral-800: #0b69a3;
  --neutral-900: #035388;
}
