// Warm purple theme
:root {
  --primary-050: #eae2f8;
  --primary-100: #cfbcf2;
  --primary-200: #a081d9;
  --primary-300: #8662c7;
  --primary-400: #724bb7;
  --primary-500: #653cad;
  --primary-600: #51279b;
  --primary-700: #421987;
  --primary-800: #34126f;
  --primary-900: #240754;

  --neutral-050: #faf9f7;
  --neutral-100: #e8e6e1;
  --neutral-200: #d3cec4;
  --neutral-300: #b8b2a7;
  --neutral-400: #a39e93;
  --neutral-500: #857f72;
  --neutral-600: #625d52;
  --neutral-700: #504a40;
  --neutral-800: #423d33;
  --neutral-900: #27241d;
}
