// Magenta theme
:root {
  --primary-050: #f5e1f7;
  --primary-100: #ecbdf2;
  --primary-200: #ce80d9;
  --primary-300: #bb61c7;
  --primary-400: #ad4bb8;
  --primary-500: #a23dad;
  --primary-600: #90279c;
  --primary-700: #7c1a87;
  --primary-800: #671270;
  --primary-900: #4e0754;

  --neutral-050: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;
}
