---
layout: _layout/page
newsletter: newsletter
---

{%- markdown %}
  # Hey I'm {{site.title}}

  - Give a brief description about you and where you come from.
  - Explain why you're creating this blog.
  - Explain how you can help person who's gonna read your blog.

{%- endmarkdown %}
