---
layout: _layout/html
permalink: /index.html
newsletter: home-start
bodyClass: home-page
nav: true
footer: true
---

<article class="longform">
  {%- markdown %}
  # Home page

  You can write in Markdown!

  ## Here's a H2

  - Here's
  - a
  - list

  [And a link](/blog/example)

  1. Then
  2. another
  3. list

  Have fun building your sites!

  {%- endmarkdown %}
</article>
