{%- include "_head/meta.njk" -%}
{%- include "_head/favicon.njk" -%}

{# Fonts #}
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

{# CSS #}
{%- if env.isDev -%}
  <link rel="stylesheet" href="/css/styles.css">
{%- else %}
  <link rel="stylesheet" href="/{{rev.stylesMin or rev.styles}}">
{%- endif -%}

{# Remove `.no-js` class #}
<script>
  document
    .documentElement
    .classList
    .remove('no-js');
</script>
